*{
    background-color: rgb(175, 175, 255);
    font-size: 18px;
    letter-spacing: 0.1em;
    font-family: MuseoModerno, sans-serif;
    margin: 0;
    padding: 0;
}


@font-face {
    font-family:"MuseoModerno";
    src: url(MuseoModerno/static/MuseoModerno-Medium.ttf);
}


/* Basislayout: zwei Spalten nebeneinander */
.layout {
  display: flex;
  height: 100vh;   /* gesamte Bildschirmhöhe */
  width: 100vw;    /* gesamte Bildschirmbreite */
  margin: 0;
}

/* Linke Spalte: 40% Breite */
.left {
  width: 40%;
  display: flex;
  flex-direction: column;  /* Aufteilung nach oben/unten */
}

/* Rechte Spalte: 60% Breite */
.right {
  width: 60%;
  display: flex;
  flex-direction: column;  /* 3 Abschnitte untereinander */
}

/* Linke Seite: 60% / 40% der Höhe */
.left-top {
  flex: 0 0 40%;
  background-color: #a7c7ff;
  display: flex;
  flex-direction: column;
  /*  align-items: center;*/
  justify-content: center;
}

.left-bottom {
  flex: 0 0 60%;
  background-color: #7ea7e0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Rechte Seite: 20% / 50% / 30% der Höhe */
.right-top {
  flex: 0 0 10%;
  background-color: #ffe59d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-middle {
  flex: 0 0 60%;
  background-color: #fff2cc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-bottom {
  flex: 0 0 30%;
  background-color: #c8e1d3;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* === Europa-Container === */
.europa-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;   /* füllt die linke untere Fläche komplett */
  width: 100%;
}

.europa-container img {
  width: 34vw;     /* skaliert proportional zur Bildschirmbreite */
  height: auto;
  max-height: 100%;
  object-fit: contain;
  margin: 18px;
}


/* === Heading === */

.heading {
    position: relative; /* für absolute Positionierung der Logo */
    display: flex;
    flex-direction: column; /* Text untereinander */
    align-items: flex-start; /* alles linksbündig */
    margin: 0 50px;
}

.logo-container {
    position: absolute; /* Logo relativ zu .heading */
    top: 0;
    left: 0;
    width: 150px; /* gewünschte Größe */
    height: auto;
}

.logo-container img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.heading h1 {
    font-size: 150px;
    text-shadow: 20px 18px 20px rgba(255,235,145,1.2);
    margin-top: 20px; /* Abstand nach unten von Logo */
}

.heading p {
    font-size: 77px;
    font-weight: bolder;
    text-shadow: 10px 15px 10px rgba(247, 179, 179, 1.2);
    margin-top: 20px;
}

.location-button {
    height: 80px;
    width: 300px;
    stroke-width: 20px;
    stroke:rgb(145 255 186);
    border-radius: 20px;
    background-color: white;

}

/* === Swith Buttons === */


